AQ_ENVIRONMENT=backtest
AQ_LIVE_TRADING_ENABLED=false
AQ_RQDATA_USERNAME=
AQ_RQDATA_PASSWORD=
AQ_RQDATA_AUTH_URL=https://rqdata.ricequant.com/auth
AQ_RQDATA_API_URL=https://rqdata.ricequant.com/api
AQ_TUSHARE_TOKEN=
AQ_TUSHARE_API_URL=https://api.tushare.pro
AQ_POSTGRES_DSN=
AQ_CLICKHOUSE_DSN=
